body{
    background-color: rgb(241,87,98);
}
.testclass{
    margin-right: 20%;
    margin-left: 20%;
}
img{
    margin-left: 10%;
}

.h12{
    text-align: center;
    color: rgb(241,87,98);
}
.body2{
    background-color: rgb(110, 39, 43);
}